<!DOCTYPE html>
<html lang="en">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
    <div>
        <a href="/">
            <img src="/images/Madspild123.png">
        </a>
        <h1>Danmark mod Madspild</h1>
    </div>
    <nav class="clearfix">
        <ul>

            <li><a href="/">Hjem</a></li>


            <li><a href="om">Om</a></li>


            <li><a href="kurser">Kurser</a></li>


            <li><a href="inspiration">Inspiration</a></li>


            <li><a href="donation">Donation</a></li>


            <li><a href="kontakt">Kontakt</a></li>


            <li><input type="text" value="Søg"></li>

        </ul>
    </nav>
</header>

<footer th:fragment="footer">
    <div id="menu">
        <div id="menu_div">
            <div>
                <li>
                    <a href="/">Hjem</a>
                </li>
                <li>
                    <a href="om">Om</a>
                </li>
                <li>
                    <a href="kurser">Kurser</a>
                </li>
            </div>
            <div>
                <li>
                    <a href="inspiration">Inspiration</a>
                </li>
                <li>
                    <a href="donation">Donation</a>
                </li>
                <li>
                    <a href="kontakt">Kontakt</a>
                </li>
            </div>
        </div>
    </div>

    <div id="subscribe">
        <p>Indtast email for nyhedsbrev</p>
        <form action="/" name="Email">
            <input id="input" type="text">

            <div class="popup" onclick="fadeIn()">
                <input type="button" value="Tilmeld" id="button">
                <span class="popuptext" id="myPopup">Du er nu tilmeldt</span>
            </div>

            <script>
                // When the user clicks on <div>, open the popup
                function fadeIn() {
                    var popup = document.getElementById("myPopup");
                    popup.classList.toggle("show");
                }
            </script>

            <!--<input type="submit" value="Subscribe" id="button"> -->
        </form>

    </div>

    <div id="address">
        <table>
            <tr>
                <th>Adresse:</th>
            </tr>
            <tr>
                <td>Meinungsgade 8</td>
            </tr>
            <tr>
                <td>2200 København N</td>
            </tr>
        </table>
    </div>
</footer>
</body>
</html>