#titel {
    text-align: center;
    color: #218f5f;
    font-size: 250%;
    margin-top: 4%;
}

#mid {
    width: 100%;
    display: inline-block;
}

#mid h5 {
    color: #218f5f;
    font-size: 200%;
    text-align: center;
}

#mid p{
    width: 80%;
    margin: 0 auto;
    display: block;
}

#mid div{
    float: left;
    margin-top: 5%;
    width: 50%;
}

#mid img {
    width: 100px;
    display: block;
    margin: 20px auto;
}

#information {
    margin-top: 5%;
}

.brødtekst {
    display: inline-block;
}

#billeder {
    margin-top: 5%;
}

#one {
    margin-left: 10%;
    height: 100px;
    width: 100px;
}

#two {
    margin-left: 20px;
    height: 100px;
    width: 100px;
}

#three {
    margin-left: 20px;
    width: 100px;
}

h4 {
    margin-top: 5%;
    text-align: center;
    font-size: 200%;
    color: #218f5f;
}

#people{
    width: 100%;
}

#people td{
    width: 30%;
    padding: 5px 10px;
}

#people img{
    width: 100px;
    display: block;
    margin: 0 auto;
}