#titel {
    text-align: center;
}

#mid {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: inline-block;
}

#mid h3 {
    color: #218f5f;
    text-align: center;
}

#mid p{
    width: 80%;
    margin: 0 auto;
    display: block;
}

#mid div{
    padding-top: 2%;
    float: left;
    width: 50%;
}

#mid img {
    width: 100px;
    display: block;
    margin: 20px auto;
}

#vi h3 {
    margin-top: 6%;
    text-align: center;
    color: #218f5f;
}

#people{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#people td{
    width: 30%;
    padding: 5px 10px;
}

#people img{
    width: 100px;
    display: block;
    margin: 0 auto;
}

#people th {
    color: #218f5f;
}