#contactBody {
    margin-left: 10%;
    margin-right: 10%;
}

body h1 {
    margin-top: 2%;
    color: #218f5f;
    text-align: center;
}

.part {
    margin-top: 2%;
}

#contactinfo {
    font-size: 120%;
    text-align: center;
}

a {
    color: #218f5f;
}

#lastaddress {
    margin-top: 2%;
}

h2 {
    margin-top: 8%;
    text-align: center;
    color: #218f5f;
    font-size: 200%;
}

#write p {
    text-align: center;
    font-size: 120%;
    margin-top: 1%;
}

#contactBody form {
    text-align: center;
    margin-bottom: 2%;
    padding-top: 1%;
}

input #button{
    font-size: 120%;
}