#indhold {
    display: inline-block;
    width: 100%;
}

#diashow {
    float: right;
    width: 40%;
    padding-right: 10%;
    padding-top: 10%;
}

#diashow p {
    margin-top: 5%;
    text-align: center;
}

#kurser {
    float: left;
    width: 40%;
    padding-left: 10%;
}

#kurser img {
    height: 180px;
    width: 325px;
    margin-bottom: 5%;
}

#kurser p {
    margin-bottom: 5%;
}

#kurser h4 {
    color: #006e2c;
    font-size: 25px;
    margin-bottom: 5%;
}