* {
    font-family: 'Playfair Display', serif;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #218f5f;
    margin: 20px 0px;
}

table {
    width: 65%;
    margin: 50px auto;
}

table th {
    color: #218f5f;
    font-size: 20px;
}

table td {
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 17px;
}

#donation_idears h3 {
    text-align: center;
    margin-bottom: 50px;
}

#donation_idears img {
    width: 20%;
    margin-left: 10%;
}