table {
    width: 65%;
    margin: 50px auto;
}

table th {
    color: #218f5f;
    font-size: 30px;
}

table td {
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 17px;
}

#donation_idears img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

#donation_idears p{
    text-align: center;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

#donation_idears div{
    width: 30%;
    float: left;
}

#content h3 {
    margin-top: 8%;
    margin-bottom: 5%;
}

#doner p {
    line-height: 0.8cm;
}