table {
    width: 65%;
    margin: 50px auto;
}

table th {
    color: #218f5f;
    font-size: 30px;
}

table td {
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 17px;
}

#donation_idears img {
    width: 20%;
    margin-left: 10%;
    margin-bottom: 20px;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

#donation_idears p {
    display: inline-block;
    margin-left: 12%;
    width: 20%;
}