* {
    font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

h1{
    font-size: 45px;
    color: #218f5f;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: #218f5f;
    text-align: center;
    margin-bottom: 4%;
}

h3{
    font-size: 30px;
    color: #218f5f;
    text-align: center;
}

a {
    color: #218f5f;
}

/*---------------------------------------------------------- Header start --------------------------------------*/
header {
    width: 100%;
    height: auto;
    background-color: rgba(79, 184, 107, 0.3);
}

header img {
    width: 100px;
    margin-right: 90px;
}

header div {
    width: 96%;
    padding: 40px 0px 0px 40px;
    display: inline-flex;
}

header h1 {
    margin-top: 10px;
    font-size: 70px;
}

header nav{
    width: 95%;
    padding: 20px;
}

header ul{
    width: 97%;
    margin: 0 auto;
    float: right;
}

header li{
    display: inline-block;
    text-align: center;
    width: 12%;
    height: 2%;
    margin: 0px 5px;
}

header li a{
    width: 100%;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #218f5f;
    font-size: 25px;
}

header li a:hover{
    color: white;
    border-radius: 6px;
    background-color: #218f5f;
}

header input {
    font-size: 18px;
}
/*---------------------------------------------------------- Header end --------------------------------------*/



/*---------------------------------------------------------- Content start --------------------------------------*/

#content{
    margin: 2% 10%;
}



/*---------------------------------------------------------- Content end --------------------------------------*/


/*---------------------------------------------------------- Footer start --------------------------------------*/
footer {
    background-color: rgba(79, 184, 107, 0.3);
    display: inline-block;
    width: 100%;
}

#address {
    width: 20%;
    float: right;
    margin-top: 5%;
    color: #218f5f;
}
#address p {
    font-size: 150%;
    color: #218f5f;
    text-align: center;
}

#button {
    font-size: 90%;
    color: #218f5f;
}

#menu {
    padding-top: 1%;
    float: left;
    width: 33%;
    padding-bottom: 1%;
}

footer li {
    margin: 5px 0px 15px 0px;
    list-style-type: none;
    width: 100%;
}

footer li a {
    font-size: 115%;
    text-decoration: none;
    color: #218f5f;
    text-align: center;
    display: block;
}

#subscribe {
    width: 33%;
    float: left;
    text-align: center;
    margin-top: 3%;
}

#subscribe p {
    font-size: 120%;
    color: #218f5f;
    padding-bottom: 5px;
}

footer a:hover {
    cursor: pointer;
    color: rgb(13, 79, 30);
}

#button:hover {
    cursor: pointer;
}
/*---------------------------------------------------------- Footer end --------------------------------------*/
