#content section{
    width: 35%;
    float: left;
    margin-left: 5%;
}

#content section p {
    margin: 5% 0% 5% 0%;
}

#news video {
    margin-bottom: 5%;
    padding-left: 12%;
}

#fakta img {
    padding-left: 22%;
}

#news {
    margin-right: 10%;
}