#content section{
    width: 35%;
    float: left;
    margin-right: 10%;
    margin-left: 5%;
}

#content section p {
    margin: 5% 0% 5% 0%;
}

#content section div video {
    margin-bottom: 5%;
    padding-left: 12%;
}

#content div img {
    padding-left: 15%;
}