<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header>
            <div>
                <img src="https://cdn.discordapp.com/attachments/840203393745420348/894880335052025876/unknown.png">
                <h1>Danmark mod Madspild</h1>
            </div>
            <nav class="menu-list">
                <ul>

                    <li class="menu-list-item"><a href="menupunkt">Hjem</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Om</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Ideer</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Donation</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Kontakt</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Søgefelt</a></li>

                </ul>
            </nav>
        </header>

        <div id="mid">
            <h1>Om os</h1>
            <img src="" id="mainfoto" alt="Foto på afveje.">
            <p id="info">Vi er en organisation, der ønsker at samle Danmark mod madspild. Igennem denne hjemmeside håber
                vi at gøre inspiration og information om madspild i Danmark let tilgængeligt for alle.</p>

        </div>

        <div id="billeder">
            <img src="../../../../../../AppData/Local/Temp/download.jpg" alt="Uha billede er væk" id="one"/>
            <img src="../../../../../../AppData/Local/Temp/Mad-til-Alle_foto_Tingbjerg-Kirke.jpg"
                 alt="Desværre er fællesspisning ikke tilgængeligt" id="two"/>
            <img src="madspild.png" alt="Uha fællesbillede er væk" id="three"/>
        </div>

        <div id="vi">
            <h2>Hvem er vi?</h2>
            <div id="people">
                <div class="person">
                    <h3>Michala</h3>
                    <p>Info</p>
                    <img src="../../../../../../Desktop/2021-01-25 14.16.02.jpg"
                         alt="Desværre besøger Michala et andet billede lige nu"/>
                </div>

                <div class="person">
                    <h3>Rasmus</h3>
                    <p>Info</p>
                    <img src="../../../../../../AppData/Local/Temp/download.jpg"
                         alt="Desværre besøger Rasmus et andet billede lige nu"/>
                </div>

                <div class="person">
                    <h3>Kamille</h3>
                    <p>Info</p>
                    <img src="../../../../../../AppData/Local/Temp/1e5004cb104257720d96f9885f06ba92.jpg"
                         alt="Desværre besøger Kamille et andet billede lige nu"/>
                </div>
            </div>
        </div>


        <footer>
            <div id="address">
                <p>Adresse: Meinungsgade 8</p>
            </div>

            <div id="menu">
                <li>
                    <a href="menupunkt">
                        Hjem
                    </a>
                </li>


                <li>
                    <a href="menupunkt">
                        Om
                    </a>
                </li>

                <li>
                    <a href="menupunkt">
                        Ideer
                    </a>
                </li>


                <li>
                    <a href="menupunkt">
                        Donation
                    </a>
                </li>


                <li>
                    <a href="menupunkt">
                        Kontakt
                    </a>
                </li>
            </div>
            <div id="subscribe">
                <p>Enter email for subscription:</p>
                <form action="/" name="Email">
                    <input type="text">
                    <input type="submit" value="Subscribe" id="button">
                </form>

            </div>
        </footer>
    </div>
</div>
</body>
</html>