#mid {
    width: 90%;
    margin-left: 10%;
    display: inline-block;
}

#om {
    margin-top: 5%;
    color: #218f5f;
}

#first {
    width: 35%;
    float: left;
}
#second {
    width: 35%;
    float: right;
    margin-right: 10%;
}
#mid img{
    margin-top: 5%;
}

#information {
    margin-top: 5%;
}

.brødtekst {
    display: inline-block;
}

#billeder {
    margin-top: 5%;
}

#one {
    margin-left: 10%;
    height: 100px;
    width: 100px;
}

#two {
    margin-left: 20px;
    height: 100px;
    width: 100px;
}

#three {
    margin-left: 20px;
    width: 100px;
}

h4 {
    margin-top: 5%;
    text-align: center;
    font-size: 200%;
    color: #218f5f;
}

#people {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.person {
    margin-top: 50px;
    display: inline-block;
    width: 25%;
    height: 400px;
    margin-right: 5%;
}

.person h3 {
    color: #218f5f;
}

.person p {
    margin-top: 20px;
}
.person img {
    margin-top: 20px;
    width: 5%;
    margin-right: 50px;
}