<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Kontakt</title>
    <link rel="stylesheet" th:href="@{/css/contact.css}">
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header th:insert="fragments/general :: header"></header>
        <div id="content">
            <h2>Kontakt os</h2>
            <div id="contactinfo">
                <p class="part">
                <p>Telefon: 22883366</p>
                <a href="tel: 22884466">Ring</a>
                </p>
                <p class="part">
                <p>E-mail: madspild@service.dk</p>
                <a href="mailto:madspild@service.dk">Send mail</a>
                </p>
                <p id="lastaddress">Adresse: Meinungsgade 8, 2200 København N</p>
            </div>
            <div id="write">
                <h2>Skriv til os</h2>
                <p>Hvis du har noget på hjerte, spørgsmål eller andet skal du være velkommen til at skrive til os
                    via nedenstående.</p>

                <form action="/" name="message">
                    <textarea id="textarea" name="textarea" rows="6" cols="80"></textarea>
                    <br>
                    <input type="submit" value="Send besked!" id="button">
                </form>
            </div>
        </div>
        <footer th:insert="fragments/general :: footer"></footer>
    </div>
</div>
</body>
</html>