<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Donation</title>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
    <link rel="stylesheet" th:href="@{/css/donation.css}">
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header th:insert="fragments/general :: header"></header>

        <div id="content">
            <h2>Donation</h2>

            <table>
                <tr>
                    <th>Hvad støtter jeg?</th>
                    <th>Hvordan donere jeg?</th>
                </tr>
                <tr>
                    <td>Du støtter vores madspilds program, som går ud på at få madspildvare ud til folk før det er
                        forsent. Desuden gør du det muligt at udtænke nye kurser som kan hjælpe virksomheder med at
                        nedsætte madspild!
                    </td>
                    <td>Du kan donere via mobilepay på: ** ** ** **</td>
                </tr>
            </table>

            <div id="doner">
                <h3>Doner overskudsmad</h3>
                <p>
                    Der bliver i Danmark smidt tusindvis af tons god, spiselig mad ud, som kunne været spist.
                    Altimens siger en undersøgelse fra Arbejderbevægelsens Erhvervsråd, at alene i Danmark lever
                    300.000
                    danskere under OECD's fattigdomsgrænse. Der er mere end hvert 10. barn i Danmark, som lever
                    i relativ
                    fattigdom. 10,2% af alle børn i alderen 0-17 år lever i relativ fattigdom, viser tal fra
                    UNICEF.
                    Beboere i 100.000 danske husstande må jævnligt springe et måltid over eller få mad foræret
                    af familie
                    og venner, fordi de ikke har råd til at købe mad nok, viser en undersøgelse som er foretaget
                    af Institut
                    for Fødevare- og Ressourceøkonomi på Københavns Universitet.

                    Derudover viser tal fra Det Nationale Forsknings- og Analysecenter for Velfærd at Danmark
                    har cirka
                    6.600 hjemløse - og antallet stiger. Derfor er der flere muigheder for at donere god og
                    frisk
                    overskudsmad til hjælpeorganisationer for hjemløse og socialt udsatte. Længere henne på
                    siden her kan
                    du finde vores landsdækkende liste over væresteder, herberger, kvindehjem, krisecentre og
                    forsorgshjem
                    for socialt udsatte samt andre hjælpeorganisationer.
                </p>
                <p>Du kan benytte vores gratis portal <a href="https://www.gratismad.dk/">Gratismad.dk</a></p>
            </div>


            <div id="donation_idears" class="clearfix">
                <h3>Et blik ind i vores arbejde og hvad DIN donation er med til at gøre muligt!</h3>

                <div>
                    <img th:src="@{/images/madspild.png}"/>
                    <p>Se vores kurser <a href="kurser">her</a></p>
                </div>

                <div>
                    <img th:src="@{/images/madspild.png}"/>
                    <p>Du kan finde inspiration <a href="inspiration">her</a></p>
                </div>

                <div>
                    <img th:src="@{/images/madspild.png}"/>
                    <p id="p3">Læs mere om os <a href="om">her</a></p>
                </div>

            </div>
        </div>
    </div>

    <footer th:insert="fragments/general :: footer"></footer>
</div>
</div>
</body>
</html>