<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Donation</title>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
    <link rel="stylesheet" th:href="@{/css/donation.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header th:insert="fragments/general :: header"></header>

        <div id="content">
            <h2>Donation</h2>

            <table>
                <tr>
                    <th>Hvad støtter jeg?</th>
                    <th>Hvordan donere jeg?</th>
                </tr>
                <tr>
                    <td>Du støtter vores madspilds program, som går ud på at få madspildvare ud til folk før det er
                        forsent
                    </td>
                    <td>Du kan donere via mobilepay på: ** ** ** **</td>
                </tr>
            </table>

            <div id="donation_idears">
                <h3>Tekst her!</h3>

                <img src="../static/madspild.png"/>
                <img src="../static/madspild.png"/>
                <img src="../static/madspild.png"/>
            </div>

            <p>Du kan finde ideer <a href="ideas.html">her</a></p>

        </div>

    </div>

    <footer th:insert="fragments/general :: footer"></footer>
</div>
</div>
</body>
</html>