<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="donation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header>
            <div>

                <img src="https://cdn.discordapp.com/attachments/840203393745420348/894880335052025876/unknown.png">
                <h1>Danmark mod Madspild</h1>

            </div>
            <nav class="menu-list">
                <ul>

                    <li class="menu-list-item"><a href="menupunkt">Hjem</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Om</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Ideer</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Donation</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Kontakt</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Søgefelt</a></li>

                </ul>
            </nav>
        </header>

        <div id="content">
            <h2>Donation</h2>

            <table>
                <tr>
                    <th>Hvad støtter jeg?</th>
                    <th>Hvordan donere jeg?</th>
                </tr>
                <tr>
                    <td>Du støtter vores madspilds program, som går ud på at få madspildvare ud til folk før det er forsent</td>
                    <td>Du kan donere via mobilepay på: ** ** ** **</td>
                </tr>
                <tr>
                    <th>Hvad støtter jeg?</th>
                    <th>Hvordan donere jeg?</th>
                </tr>
                <tr>
                    <td>Du støtter vores madspilds program, som går ud på at få madspildvare ud til folk før det er forsent</td>
                    <td>Du kan donere via mobilepay på: ** ** ** **</td>
                </tr>
            </table>

        </div>
    </div>

    <footer>
        <div id="address">
            <p>Adresse: Meinungsgade 8</p>
        </div>

        <div id="menu">
            <li>
                <a href="menupunkt">
                    Hjem
                </a>
            </li>


            <li>
                <a href="menupunkt">
                    Om
                </a>
            </li>

            <li>
                <a href="menupunkt">
                    Ideer
                </a>
            </li>


            <li>
                <a href="menupunkt">
                    Donation
                </a>
            </li>


            <li>
                <a href="menupunkt">
                    Kontakt
                </a>
            </li>
        </div>
        <div id="subscribe">
            <p>Enter email for subscription:</p>
            <form action="/" name="Email">
                <input type="text">
                <input type="submit" value="Subscribe" id="button">
            </form>

        </div>
    </footer>
</div>
</div>
</body>
</html>