#overskrift{
    width: 100%;
}
#overskrift h2{
    color: darkgreen;
    text-align: center;
}

#undgå{
    background-color: deeppink;
    width: 49%;
    display: inline-block;
}
#undgå h2{
    color: darkgreen;
    text-align: center;
}
#undgå_liste ul{
    width: 49%;
}

#inspiration{
    background-color: aqua;
    width: 49%;
    display: inline-block;
}
#inspiration h2{
    color: darkgreen;
    text-align: center;
}
#inspiration_liste img {
    margin-bottom: 5%;
    width: 25%;
    text-decoration: none;
    text-align: center;
}
#inspiration_liste a{
    text-decoration: none;
    text-align: center;
}
#inspiration_liste li{
    list-style-type: none;
}

#doner{
    background-color: darkblue;
    width: 49%;
}
#doner h2{
    color: darkgreen;
    text-align: center;
}