<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Danmark mod Madspild</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header>
            <div>

                <img src="https://cdn.discordapp.com/attachments/840203393745420348/894880335052025876/unknown.png">
                <h1>Danmark mod Madspild</h1>

            </div>
            <nav class="menu-list">
                <ul>

                    <li class="menu-list-item"><a href="menupunkt">Hjem</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Om</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Ideer</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Donation</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Kontakt</a></li>


                    <li class="menu-list-item"><a href="menupunkt">Søgefelt</a></li>

                </ul>
            </nav>
        </header>

            <section>
                <h2>Danmark mod Madspild Information:</h2>
                <div>
                    <p>Information om madspild</p>
                    <video width="320" height="240" controls>
                        <source src="movie.mp4" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>

            <section>
                <div>
                    <img src="" id="">
                    <p></p>
                </div>
            </section>
        </div>

        <a href="mail to:madsspild.dk">Kontakt Danmark mod madspild</a>

        <footer>
            <div id="address">
                <p>Adresse: Meinungsgade 8</p>
            </div>

            <div id="menu">
                <li>
                    <a href="menupunkt">
                        Hjem
                    </a>
                </li>


                <li>
                    <a href="menupunkt">
                        Om
                    </a>
                </li>

                <li>
                    <a href="menupunkt">
                        Ideer
                    </a>
                </li>


                <li>
                    <a href="menupunkt">
                        Donation
                    </a>
                </li>


                <li>
                    <a href="menupunkt">
                        Kontakt
                    </a>
                </li>
            </div>
            <div id="subscribe">
                <p>Enter email for subscription:</p>
                <form action="/" name="Email">
                    <input type="text">
                    <input type="submit" value="Subscribe" id="button">
                </form>

            </div>
        </footer>
    </div>
</div>
</body>

</html>
