<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Danmark mod Madspild</title>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header th:insert="fragments/general :: header"></header>

        <div id="content" class="clearfix">
            <h2>Danmark mod Madspild Information:</h2>
            <section>
                <p>
                    Definition af madspild:
                    Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to:
                    madspild og øvrigt madaffald. Madspild er fødevarer, der kunne være spist, men i stedet er
                    blevet smidt ud. Øvrigt madaffald er de dele af fødevarerne, der ikke er egnet til at spise.
                    Eksempler på madspild er brød, hel frugt og grønt og middagsrester.
                    Eksempler på øvrigt madaffald er æggeskaller, osteskorper, kaffegrums og kernehuse.
                </p>
                <video width="320" height="240" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </section>

            <section>

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3ntzGWjAxSG4qP40XYooeai_guykKZdaXOw&usqp=CAU"
                     id="">
                <p> Samlet smider vi i Danmark hvert år over 700.000 ton mad ud, som kunne være spist.
                    Husholdningernes madspild udgør 260.000 ton pr. år. I servicesektoren er der et årligt
                    madspild på 227.000 ton, heraf 163.000 ton fra detailhandlen, 29.000 ton fra hoteller og
                    restauranter og 31.000 ton fra institutioner og storkøkkener om året. Madspild fra
                    primærproduktionen udgør 100.000 ton pr. år, mens fødevareindustrien står for et
                    årligt madspild på 133.000 ton.
                </p>
            </section>

        </div>
    </div>

    <footer th:insert="fragments/general :: footer"></footer>
</div>
</div>
</body>

</html>
