<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Danmark mod Madspild</title>
</head>

<body>
    <div id="body">
        <header>Danmark mod Madspild
            <nav id="MainMenu">
                <ul>
                    <a href="menupunkt a med li i">
                        <li> hejsa</li>
                    </a>
                    <a href="menupunkt a med li i">
                        <li> hejsa</li>
                    </a>
                    <a href="menupunkt a med li i">
                     <li> hejsa</li>
                    </a>
                    <a href="menupunkt a med li i">
                     <li> hejsa</li>
                    </a>
                    <a href="menupunkt a med li i">
                     <li> hejsa</li>
                    </a>
                </ul>
            </nav>
        </header>


        <section>
            <h1>Måder at undgå madspild på:</h1>
                <div>
                    <ul>
                        <li><a href="x">første ide</a></li>
                        <li><a href="x">første ide</a></li>
                        <li><a href="x">første ide</a></li>
                        <li><a href="x">første ide</a></li>
                        <li><a href="x">første ide</a></li>
                    </ul>
                </div>
        </section>


        <footer>
            <p>Address: Meinungsgade 8</p>
        </footer>
    </div>
</body>

</html>
