<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Ideer</title>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
    <link rel="stylesheet" th:href="@{css/inspiration.css}">
</head>
<body>
<div id="body">
  <div id="wrapper">
      <header th:insert="fragments/general :: header"></header>

      <div id="overskrift">
          <h2>Inspiration til mindre madspild</h2>
      </div>

      <div id="fælles" class="clearfix">

      <div id="undgå">
             <h3>Hvordan undgår du madspild</h3>
             <ul id="undgå_liste">
                 <li>Væn dig til at gennemtænke din indkøb og behov, INDEN du køber ind,
                     så du undgår impulsindkøbte madvarer, du ikke når at få brugt.
                 </li>
                 <li>
                     Hav altid en indkøbsseddel med, når du køber ind og planlæg dine indkøb hjemmefra.
                 </li>
                 <li>
                     Inden du falder for stykrabatter eller mængderabatter i supermarkederne:
                     Vær sikker på, at du får brugt og spist al maden.
                 </li>
                 <li>
                     I supermarkedet: Når du alligevel skal bruge og spise maden samme dag,
                     kan du altid købe de fødevarer, der er tættest på udløbsdatoen.
                 </li>
                 <li>
                     Har du købt for store mændger kød, brød, osv, kan du altid dele maden op i portionsstørrelser
                     og fryse den ned.
                 </li>
                 <li>
                     Tænk over, hvordan rester kan genbruges i andre retter.
                 </li>
                 <li>
                     Skab et bedre overblik over hvad du spiser ved at lave en madplan.
                 </li>
                 <li>
                     Hold orden i dit køleskab: de ældste fødevarer skal stå forrest.
                 </li>
                 <li>
                     Tænk over portionsstørrelser inden du laver mad.
                 </li>
                 <li>
                     Køb ind med hovedet og ikke med maven.
                 </li>
             </ul>
         </div>

      <div id="doner">
          <h3>Doner overskudsmad</h3>
          <div>
              <p>
              Der bliver i Danmark smidt tusindvis af tons god, spiselig mad ud, som kunne været spist.
              Altimens siger en undersøgelse fra Arbejderbevægelsens Erhvervsråd, at alene i Danmark lever 300.000
              danskere under OECD's fattigdomsgrænse. Der er mere end hvert 10. barn i Danmark, som lever i relativ
              fattigdom. 10,2% af alle børn i alderen 0-17 år lever i relativ fattigdom, viser tal fra UNICEF.
              Beboere i 100.000 danske husstande må jævnligt springe et måltid over eller få mad foræret af familie
              og venner, fordi de ikke har råd til at købe mad nok, viser en undersøgelse som er foretaget af Institut
              for Fødevare- og Ressourceøkonomi på Københavns Universitet.

              Derudover viser tal fra Det Nationale Forsknings- og Analysecenter for Velfærd at Danmark har cirka
              6.600 hjemløse - og antallet stiger. Derfor er der flere muigheder for at donere god og frisk
              overskudsmad til hjælpeorganisationer for hjemløse og socialt udsatte. Længere henne på siden her kan
              du finde vores landsdækkende liste over væresteder, herberger, kvindehjem, krisecentre og forsorgshjem
              for socialt udsatte samt andre hjælpeorganisationer.
              </p>
          </div>
          <p>Du kan benytte vores gratis portal <a href="https://www.gratismad.dk/">Gratismad.dk</a></p>
      </div>

      </div>

      <div><h3>Sæson opskrifter til inspiration</h3></div>

      <table id="img_table">
          <tr>
              <td class="img">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
              </td>
              <td class="img">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
              </td>
              <td class="img">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                </td>
              <td class="img">
              <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
          </td>
          </tr>

          <tr>
              <td class="link">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
              </td>
              <td class="link">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
              </td>
              <td class="link">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
              </td>
              <td class="link">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
              </td>
          </tr>

          <tr>
              <td class="img">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
              </td>
              <td class="img">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
              </td>
              <td class="img">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
              </td>
              <td class="img">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
              </td>
          </tr>

          <tr>
              <td class="link">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
              </td>
              <td class="link">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
              </td>
              <td class="link">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
              </td>
              <td class="link">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
              </td>
          </tr>

      </table>
<!--
      <div id="inspiration">
          <h3>inspirationer til sæson opskrifter</h3>
              <div id="inspiration_liste1">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/bibimbap3-334-0-50.png">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/bibimbap3">Bibimbap</a>
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/bruschetta1-334-0-50.png">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/bruschetta1">Bruschetta</a>
              </div>
              <div id="inspiration_liste2">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/boef-bearnaise-334-0-50.png">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/boef-bearnaise">Bøf Bearnaise</a>
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
          </div>
              <div id="inspiration_liste3">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/fennikelsalat2-334-0-50.png">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/fennikelsalat2">Fennikelsalat</a>
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/gazpacho1-334-0-50.png">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/gazpacho1">Gazpacho</a>
              </div>
              <div id="inspiration_liste4">
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/groenkaal-greenie1-334-0-50.png">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/groenkaal-greenie1">Grønkål - greenie</a>
                  <img src="https://assetsv2.aarstiderne.com/recipe/dk/graeskarhummus1-334-0-50.png">
                  <a href="https://www.aarstiderne.com/opskrifter/opskrift/graeskarhummus1">Græskarhummus</a>
          </div>
      </div>
      -->


      <footer th:insert="fragments/general :: footer"></footer>
  </div>
</div>
</body>
</html>