<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Inspiration</title>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
    <link rel="stylesheet" th:href="@{css/inspiration.css}">
</head>
<body>
<div id="body">
    <div id="wrapper">
        <header th:insert="fragments/general :: header"></header>
        <div id="content">
            <div id="overskrift">
                <h2>Inspiration til mindre madspild</h2>
            </div>

            <div id="fælles" class="clearfix">

                <div class="undgå">
                    <ul class="undgå_liste">
                        <li>
                            I supermarkedet: Når du alligevel skal bruge og spise maden samme dag,
                            kan du altid købe de fødevarer, der er tættest på udløbsdatoen.
                        </li>
                        <li>
                            Har du købt for store mændger kød, brød, osv, kan du altid dele maden op i
                            portionsstørrelser
                            og fryse den ned.
                        </li>
                        <li>
                            Tænk over, hvordan rester kan genbruges i andre retter.
                        </li>
                        <li>
                            Skab et bedre overblik over hvad du spiser ved at lave en madplan.
                        </li>
                        <li>
                            Hold orden i dit køleskab: de ældste fødevarer skal stå forrest.
                        </li>
                    </ul>
                </div>
                <div class="undgå">
                    <ul class="undgå_liste">
                        <li>Væn dig til at gennemtænke din indkøb og behov, INDEN du køber ind,
                            så du undgår impulsindkøbte madvarer, du ikke når at få brugt.
                        </li>
                        <li>
                            Hav altid en indkøbsseddel med, når du køber ind og planlæg dine indkøb hjemmefra.
                        </li>
                        <li>
                            Inden du falder for stykrabatter eller mængderabatter i supermarkederne:
                            Vær sikker på, at du får brugt og spist al maden.
                        </li>
                        <li>
                            Tænk over portionsstørrelser inden du laver mad.
                        </li>
                        <li>
                            Køb ind med hovedet og ikke med maven.
                        </li>
                    </ul>
                </div>
            </div>
            </div>

            <div><h3>Sæson opskrifter til inspiration</h3></div>

            <table id="img_table">
                <tr>
                    <td class="img">
                        <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                    </td>
                    <td class="img">
                        <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                    </td>
                    <td class="img">
                        <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                    </td>
                    <td class="img">
                        <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                    </td>
                </tr>

                <tr>
                    <td class="link">
                        <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                    </td>
                    <td class="link">
                        <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                    </td>
                    <td class="link">
                        <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                    </td>
                    <td class="link">
                        <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                    </td>
                </tr>

                <tr>
                    <td class="img">
                        <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                    </td>
                    <td class="img">
                        <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                    </td>
                    <td class="img">
                        <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                    </td>
                    <td class="img">
                        <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                    </td>
                </tr>

                <tr>
                    <td class="link">
                        <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                    </td>
                    <td class="link">
                        <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                    </td>
                    <td class="link">
                        <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                    </td>
                    <td class="link">
                        <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                    </td>
                </tr>

            </table>
            <!--
                  <div id="inspiration">
                      <h3>inspirationer til sæson opskrifter</h3>
                          <div id="inspiration_liste1">
                              <img src="https://assetsv2.aarstiderne.com/recipe/dk/bibimbap3-334-0-50.png">
                              <a href="https://www.aarstiderne.com/opskrifter/opskrift/bibimbap3">Bibimbap</a>
                              <img src="https://assetsv2.aarstiderne.com/recipe/dk/bruschetta1-334-0-50.png">
                              <a href="https://www.aarstiderne.com/opskrifter/opskrift/bruschetta1">Bruschetta</a>
                          </div>
                          <div id="inspiration_liste2">
                              <img src="https://assetsv2.aarstiderne.com/recipe/dk/boef-bearnaise-334-0-50.png">
                              <a href="https://www.aarstiderne.com/opskrifter/opskrift/boef-bearnaise">Bøf Bearnaise</a>
                              <img src="https://assetsv2.aarstiderne.com/recipe/dk/clam-chowder1-334-0-50.png">
                              <a href="https://www.aarstiderne.com/opskrifter/opskrift/clam-chowder1">Clam chowder</a>
                      </div>
                          <div id="inspiration_liste3">
                              <img src="https://assetsv2.aarstiderne.com/recipe/dk/fennikelsalat2-334-0-50.png">
                              <a href="https://www.aarstiderne.com/opskrifter/opskrift/fennikelsalat2">Fennikelsalat</a>
                              <img src="https://assetsv2.aarstiderne.com/recipe/dk/gazpacho1-334-0-50.png">
                              <a href="https://www.aarstiderne.com/opskrifter/opskrift/gazpacho1">Gazpacho</a>
                          </div>
                          <div id="inspiration_liste4">
                              <img src="https://assetsv2.aarstiderne.com/recipe/dk/groenkaal-greenie1-334-0-50.png">
                              <a href="https://www.aarstiderne.com/opskrifter/opskrift/groenkaal-greenie1">Grønkål - greenie</a>
                              <img src="https://assetsv2.aarstiderne.com/recipe/dk/graeskarhummus1-334-0-50.png">
                              <a href="https://www.aarstiderne.com/opskrifter/opskrift/graeskarhummus1">Græskarhummus</a>
                      </div>
                  </div>
                  -->

        </div>
        <footer th:insert="fragments/general :: footer"></footer>
    </div>
</div>
</body>
</html>